@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

html {
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  color: #2C2C34;
  box-sizing: border-box;
}
