body {
  height: 100vh;
}

#chat-history {
  margin-left: auto;
  margin-right: auto;

  height: 75%;
  width: 80%;
  padding: 5px;
  background-color: #F6F2FF;
  border-radius: 0.5rem;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 1%;
  max-width: 60%;
  border-radius: 1rem;
}

.received {
  align-self: flex-start;
  text-align: left;
  background-color: #cb9ce0;
}

.sent {
  align-self: flex-end;
  text-align: right;
  background-color: #e2e2e2;
}

#message-form {
  margin: 1rem auto 0 auto;

  width: 80%;

  display: flex;
  justify-content: space-between;
}

input[type=submit] {
  padding: 2.5% 2.5%;

  border: none;

  background-color: #F7567C;
  color: white;

  transition: background-color .15s ease-in;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #da4366;
}

textarea[form=message-form] {
  resize: none;
  width: 90%;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;

  border: none;
  border-bottom: 2px solid #575766;
  background-color: #F6F2FF;
  transition: border 250ms ease-out;
}

textarea[form=message-form]:focus {
  border-color: #F7567C;
}
