html {
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
}

#chat-history {
  margin-left: auto;
  margin-right: auto;

  height: 75%;
  width: 98%;
  padding: 5px;
  border: 1px solid;
  border-color: gray;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 1%;
  max-width: 60%;
  border-radius: 1rem;
}

.received {
  align-self: flex-start;
  text-align: left;
  background-color: #cb9ce0;
}

.sent {
  align-self: flex-end;
  text-align: right;
  background-color: #e2e2e2;
}

#chat-form {
  margin-left: auto;
  margin-right: auto;

  width: 98%;
  height: 20%;

  display: inline-flex;
  justify-content: center;
}

#message-box {
  resize: none;
}
