body {
  height: 100vh;
}

#history {
  margin-left: auto;
  margin-right: auto;

  height: 75%;
  width: 95%;
  padding: 2.5px;
  background-color: #F6F2FF;
  border-radius: 0.5rem;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
}

.chat-bubble {
  padding: 1rem;
  margin: 0.1rem;
  max-width: 80%;
  border-radius: 1rem;
  word-wrap: break-word;
}

.received > .chat-bubble {
  align-self: flex-start;
  text-align: left;
  color: white;
  background-color: #F7567C;
}

.sent > .chat-bubble {
  align-self: flex-end;
  text-align: right;
  background-color: #e2e2e2;
}

.signature {
  font-style: italic;
  color: #757575;
  font-size: 0.75rem;
  margin: 0.1rem;
}

.received > .signature {
  align-self: flex-start;
}

.sent > .signature {
  align-self: flex-end;
}

#message-form {
  margin: 1rem auto 0 auto;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

textarea[form=message-form] {
  resize: none;
  width: 80%;
  font-family: 'Quicksand', sans-serif;
}

input[type=submit] {
  width: 15%;
}

@media screen and (min-width: 30em) {
  #history {
    width: 80%;
    padding: 5px;
  }

  .chat-bubble {
    max-width: 60%;
  }

  #message-form {
    width: 80%;
  }

  textarea[form=message-form] {
    resize: none;
    width: 90%;
  }

  input[type=submit] {
    width: 10%;
  }
}

#mocha {
  display: none;
}
